[submodule "vls"]
	path = vls
	url = https://gitlab.com/lightning-signer/validating-lightning-signer.git
[submodule "lightning"]
	path = lightning
	url = https://github.com/ElementsProject/lightning.git
	branch = master
