/.config
/.setup-complete
/bin
/one.log
/all.log
/TEST-????????-??????
/LATEST-TEST-ONE
/LATEST-TEST-ALL
__pycache__
target
.env
\#*\#
.\#*
.*.swp# Python package markers for import-farm
lightning/__init__.py
lightning/tests/__init__.py
